* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.start {
  background-image: url(../../../png/background-first.png);
  background-repeat: no-repeat;
  padding-top: 153px;
  height: 1104px;
}

.start {
  background-image: url(../../../png/background-first.png);
  background-repeat: no-repeat;
  margin-top: none;
}

@media screen and (min-width: 1920px) {
  .start-lap {
    background-image: url(../../../../png/background-first-lap.png);
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 375px) {
  .header {
    position: absolute;
    top: 48px;
  }
}
@media screen and (min-width: 1920px) {
  .header-lap {
    display: flex;
    position: absolute;
  }
}
.nav-ul {
  display: flex;
}

@media screen and (max-width: 375px) {
  .nav-ul {
    left: 267px;
    position: absolute;
    top: 10px;
  }
}
@media screen and (max-width: 375px) {
  .header-nav-lap {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap {
    display: flex;
    margin-top: 38px;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap-sec {
    position: absolute;
    left: 1705px;
    display: flex;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap-item {
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: bold;
    margin-left: 36px;
  }
}
@media screen and (max-width: 375px) {
  .zag-start {
    color: #ffffff;
    font-weight: bold;
    line-height: 63px;
    font-size: 58px;
    font-family: Roboto;
    position: absolute;
    left: 30px;
    top: 153px;
  }
}
@media screen and (min-width: 1920px) {
  .zag-start-lap {
    color: #ffffff;
    font-weight: bold;
    line-height: 130px;
    font-size: 130px;
    font-family: Roboto;
    position: absolute;
    left: 277px;
    top: 266px;
  }
}
@media screen and (max-width: 375px) {
  .start-button {
    background-color: #dd2242;
    width: 315px;
    height: 59px;
    border-style: none;
    position: absolute;
    top: 308px;
    align-items: center;
    left: 30px;
    border-radius: 108px;
  }
}
@media screen and (max-width: 375px) {
  .start-button-p {
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 1920px) {
  .start-button-lap {
    background-color: #dd2242;
    width: 271px;
    height: 82px;
    border-style: none;
    position: absolute;
    top: 547px;
    align-items: center;
    left: 277px;
    border-radius: 211px;
  }
}
@media screen and (min-width: 1920px) {
  .start-button-p-lap {
    color: white;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka {
    height: 472px;
    width: 314px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 400px;
    left: 30px;
    z-index: 2;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-li:not(:first-child) {
    padding-top: 32px;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-num-fir {
    padding-top: 35px;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-num {
    color: #dd2242;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 32px;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-zag {
    color: #ffffff;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-zag {
    z-index: 3;
    padding-left: 32px;
    width: 121px;
    height: 42px;
  }
}
@media screen and (max-width: 375px) {
  .start-ramka-p {
    color: #939393;
    padding-left: 32px;
  }
}
@media screen and (max-width: 375px) {
  .ramka-video {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-lap {
    background-color: rgba(0, 0, 0, 0.6);
    width: 1225px;
    height: 210px;
    position: absolute;
    top: 870px;
    left: 277px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-ul-lap {
    display: flex;
    padding-top: 41px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-li-lap-a {
    padding-left: 71px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-li-lap-b {
    padding-left: 198px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-li-lap-c {
    padding-left: 198px;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-num-lap {
    color: #dd2242;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-zag-lap {
    padding-top: 14px;
    color: #ffffff;
    font-family: Roboto;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-num-fir {
    color: #ffffff;
  }
}
@media screen and (min-width: 1920px) {
  .start-ramka-p-lap {
    color: #939393;
  }
}
@media screen and (min-width: 1920px) {
  .ramka-video-lap {
    width: 417px;
    height: 254px;
    position: absolute;
    top: 0px;
    right: -415px;
  }
}
@media screen and (max-width: 375px) {
  .ad {
    height: 1253px;
  }
}
@media screen and (max-width: 375px) {
  .ad-invisible {
    height: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-lap- {
    height: 1624px;
    background-color: rgb(3, 3, 34);
    margin-top: -45px;
  }
}
@media screen and (max-width: 375px) {
  .background-second {
    background-color: rgb(5, 5, 49);
  }
}
@media screen and (max-width: 375px) {
  .ad-first-img {
    padding-top: 40px;
    margin-left: 30px;
    width: 314px;
    height: 232px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 375px) {
  .ad-second-img {
    padding-top: 40px;
    margin-left: 30px;
    width: 314px;
    height: 232px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-img-lap {
    width: 630.34px;
    height: 460px;
    margin-top: 207px;
    margin-left: 341px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-img-lap {
    position: absolute;
    top: 2000px;
    right: 283.69px;
    width: 630.34px;
    height: 460px;
  }
}
@media screen and (max-width: 375px) {
  .ad-first-zag {
    font-family: Roboto;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 34px;
    color: white;
  }
}
@media screen and (max-width: 375px) {
  .ad-first-ps {
    color: white;
    font-family: Roboto;
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 375px) {
  .ad-first-p {
    color: white;
  }
}
@media screen and (max-width: 375px) {
  .ad-second-zag {
    font-family: Roboto;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 34px;
    color: white;
  }
}
@media screen and (max-width: 375px) {
  .ad-second-ps {
    color: white;
    font-family: Roboto;
    margin-top: 80px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-ps-lap {
    top: 1345px;
    right: 450px;
    position: absolute;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-zag-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .d-first-ps-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-button-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-zag-lap {
    color: white;
    line-height: 50px;
    font-size: 23px;
    letter-spacing: 0.5px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-ps-lap-a {
    color: #939393;
    padding-top: 20px;
    font-family: Roboto;
    line-height: 25px;
    font-size: 21px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-zag-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-ps-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-button-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-img-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-zag-lap {
    color: white;
    padding-top: 320px;
    margin-left: 383px;
    line-height: 50px;
    font-size: 23px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-ps-lap-trans {
    margin-left: 383px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-second-ps-lap {
    color: #939393;
    padding-top: 20px;
    font-family: Roboto;
    line-height: 25px;
    font-size: 21px;
  }
}
@media screen and (max-width: 375px) {
  .ad-first-button {
    color: white;
    background-color: #dd2242;
    border-radius: 32px;
    border-style: none;
    margin-top: 40px;
    margin-left: 30px;
    width: 314px;
    height: 72px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-first-button-lap {
    color: white;
    background-color: #dd2242;
    border-radius: 32px;
    border-style: none;
    margin-top: 40px;
    width: 179.81px;
    height: 59px;
  }
}
@media screen and (max-width: 375px) {
  .ad {
    height: 1253px;
  }
}
@media screen and (max-width: 375px) {
  .ad-invisible {
    height: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .ad-lap- {
    height: 1624px;
    background-color: rgb(3, 3, 34);
    margin-top: -45px;
  }
}
@media screen and (max-width: 375px) {
  .empty {
    background-image: url(../../../../png/backgroun-third.png);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .empty-lap {
    background-image: url(../../../../png/background-fivth-lap.png);
    background-repeat: no-repeat;
    height: 2207px;
  }
}
@media screen and (max-width: 375px) {
  .empty-ul {
    text-align: center;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ul-lap {
    color: #000000;
    text-align: center;
    font-family: DM Sans;
    font-size: 50px;
    font-weight: bold;
  }
}
@media screen and (max-width: 375px) {
  .empty-ul-lap {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ul-lap- {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .empty-img {
    width: 314px;
    margin-left: 30px;
    margin-top: 23px;
    height: 200px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-imgs-lap {
    display: flex;
    align-items: center;
    margin-left: 243px;
  }
}
@media screen and (max-width: 375px) {
  .empty-imgs-lap {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .empty-first-svg-lap {
    width: 14.68px;
    height: 23.91px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-second-svg-lap {
    width: 14.68px;
    height: 23.91px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-svg-b {
    padding-left: 78px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-svg-c {
    padding-left: 31px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-svg-d {
    padding-left: 31px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-svg-e {
    padding-left: 63px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-img {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .empty-ramochka {
    height: 929px;
    width: 375px;
    margin-top: 695px;
    background-color: rgba(16, 1, 71, 0.9);
    opacity: 90%;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-zag {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    margin-top: 144px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-first-ps {
    color: #939393;
    text-align: center;
    margin-top: 129px;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-num {
    color: #dd2242;
    margin-top: 15px;
    text-align: center;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-ps {
    text-align: center;
    color: #939393;
    margin-top: 5px;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-invisible {
    height: 69px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ramochka-lap {
    height: 794px;
    width: 1920px;
    background-color: rgba(7, 7, 24, 0.9);
    position: absolute;
    top: 4100px;
  }
}
@media screen and (min-width: 1920px) {
  .ramochka-zag-lap {
    color: white;
    font-size: 60px;
    font-family: DM Sans;
    padding-top: 201px;
    text-align: center;
    line-height: 150%;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 1920px) {
  .ramochka-first-ps-lap- {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .ramochka-first-ps-lap {
    text-align: center;
    color: #939393;
    margin-top: 36.83px;
    font-family: DM Sans;
    line-height: 150%;
    font-size: 21px;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-first-ps-lap {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .empty-ul-ramochka-lap {
    display: none;
  }
}
.none {
  display: none;
}

@media screen and (min-width: 1920px) {
  .empty-ul-ramochka-lap {
    display: flex;
  }
}
@media screen and (min-width: 1920px) {
  .ramochka-num-lap {
    color: #dd2242;
    margin-top: 39px;
    text-align: center;
    font-family: DM Sans;
    font-size: 42.14px;
    letter-spacing: 0.39px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ul-ramochka-li-first-lap {
    margin-left: 322px;
  }
}
@media screen and (min-width: 1920px) {
  .ramochka-ps-lap {
    color: #939393;
    text-align: center;
    line-height: 150%;
    font-size: 21px;
    font-family: DM Sans;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ul-ramochka-li-second-lap {
    margin-left: 127.39px;
  }
}
@media screen and (min-width: 1920px) {
  .empty-ul-ramochka-li-third-lap {
    margin-left: 91.39px;
  }
}
@media screen and (max-width: 375px) {
  .videos-megazag {
    color: white;
    text-align: center;
    padding-top: 86px;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .video-minizag {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .video-ps {
    color: #939393;
    text-align: center;
    padding-top: 19px;
    font-family: Roboto;
  }
}
@media screen and (min-width: 1920px) {
  .videos-megazag-lap {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: DM Sans;
    font-weight: bold;
    padding-top: 141.16px;
  }
}
@media screen and (max-width: 375px) {
  .videos {
    background-image: url(../../../../png/backgroung-forth.png);
  }
}
@media screen and (max-width: 375px) {
  .videos-first-video {
    padding-left: 30px;
    padding-top: 70px;
  }
}
@media screen and (max-width: 375px) {
  .videos-second-video {
    padding-left: 30px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 375px) {
  .videos-forth-video {
    padding-left: 30px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .videos-lap {
    background-image: url(../../../../png/background-sixth-lap.png);
    background-color: rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    height: 1476px;
  }
}
@media screen and (min-width: 1920px) {
  .videos-first-video-lap {
    width: 1056px;
    height: 594px;
    margin-left: 442px;
    margin-top: 67.2px;
  }
}
@media screen and (min-width: 1920px) {
  .video-ps-lap {
    display: flex;
  }
}
@media screen and (min-width: 1920px) {
  .videos-second-video-lap {
    position: absolute;
    top: 6725px;
    left: 360px;
  }
}
@media screen and (min-width: 1920px) {
  .video-minizag-lap {
    position: absolute;
    top: 6725px;
    left: 710px;
    color: white;
    font-size: 25px;
    font-family: DM Sans;
  }
}
@media screen and (min-width: 1920px) {
  .video-ps-lap {
    position: absolute;
    top: 6800px;
    left: 710px;
  }
}
@media screen and (max-width: 375px) {
  .white {
    background-color: white;
  }
}
@media screen and (min-width: 1920px) {
  .white-lap {
    background-color: white;
    width: 1920px;
    height: 821px;
  }
}
@media screen and (max-width: 375px) {
  .white-ul {
    text-align: center;
    color: black;
    font-family: Roboto;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 375px) {
  .white-ps {
    text-align: center;
    color: rgb(151, 139, 139);
    margin-top: 36px;
    font-family: Roboto;
  }
}
@media screen and (min-width: 1920px) {
  .white-ul-lap {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: DM Sans;
    padding-top: 249px;
  }
}
@media screen and (min-width: 1920px) {
  .white-ps-lap {
    text-align: center;
    color: #939393;
    margin-top: 32px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .white-button {
    color: white;
    background-color: #dd2242;
    border-radius: 32px;
    border-style: none;
    margin-top: 40px;
    margin-left: 865px;
    width: 210px;
    height: 64px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-img-first {
    padding-left: 30px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-img-first-second-img {
    padding-top: 12px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-img-second {
    padding-left: 13px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-ul {
    color: #939393;
    text-align: center;
    padding-top: 20px;
    font-family: Roboto;
  }
}
@media screen and (max-width: 375px) {
  .gallery-mega-ul {
    display: flex;
    padding-top: 30px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-img-third {
    display: flex;
    padding-top: 12px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-p {
    color: black;
    text-align: center;
    font-family: Roboto;
    padding-top: 32px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-invisible {
    height: 40px;
  }
}
@media screen and (max-width: 375px) {
  .bike {
    background-color: #dce8f2;
  }
}
@media screen and (max-width: 375px) {
  .bike-zag {
    color: black;
    font-family: Roboto;
    padding-top: 29px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .bike-video {
    margin-left: 30px;
    margin-top: 32px;
  }
}
.bike-invisible {
  height: 100px;
}

@media screen and (max-width: 375px) {
  .bike-circle-first {
    border-radius: 100%;
    background-color: #dd2242;
    height: 56px;
    width: 56px;
    text-align: center;
    font-family: DM Sans;
    color: white;
    font-size: 26.41px;
    padding-top: 12px;
    margin-left: 160px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 375px) {
  .bike-circle-third {
    border-radius: 100%;
    background-color: #dd2242;
    height: 56px;
    width: 56px;
    text-align: center;
    font-family: DM Sans;
    color: white;
    font-size: 26.41px;
    padding-top: 12px;
    margin-left: 160px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-first {
    color: black;
    font-family: Roboto;
    text-align: center;
    padding-top: 26px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-second {
    color: #b1adad;
    font-family: Roboto;
    text-align: center;
    padding-top: 5px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-third {
    color: #dd2242;
    font-family: Roboto;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .bike-ps-first {
    margin-top: 40px;
  }
}
@media screen and (max-width: 375px) {
  .footer-svg-half {
    border-radius: 100%;
    background-color: #dd2242;
    height: 104px;
    width: 104px;
    text-align: center;
    font-family: DM Sans;
    color: white;
    position: absolute;
    bottom: 660px;
    font-size: 26.41px;
    padding-top: 12px;
    left: 160px;
  }
}
@media screen and (max-width: 375px) {
  .footer-svg-first {
    padding-left: 100px;
    padding-top: 146px;
  }
}
@media screen and (max-width: 375px) {
  .footer-ul-svg {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .footer-svgs-first {
    width: 10px;
    height: 19px;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    background-color: #010a20;
  }
}
@media screen and (max-width: 375px) {
  .footer-maga-ul {
    text-align: center;
    color: white;
    font-family: DM Sans;
  }
}
@media screen and (max-width: 375px) {
  .footer-ps-first {
    font-size: 22.94px;
    padding-top: 36px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1920px) {
  .header-icon-lap {
    margin-left: 28px;
    width: 185px;
    height: 69px;
  }
}
@media screen and (min-width: 1920px) {
  .nav-3-sticks {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .nav-search {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap-sec-svgs {
    height: 24px;
    width: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap-sec-svgs- {
    margin-left: 40px;
    height: 24px;
    width: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .header-icon-lap {
    margin-top: 28px;
  }
}