@media screen and (max-width: 375px) {
  .bike-p-first {
    color: black;
    font-family: Roboto;
    text-align: center;
    padding-top: 26px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-second {
    color: #b1adad;
    font-family: Roboto;
    text-align: center;
    padding-top: 5px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-third {
    color: #dd2242;
    font-family: Roboto;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .bike-ps-first {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-zag-lap {
    color: #010a20;
    font-size: 50px;
    margin-left: 387px;
    margin-top: 119px;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-megaul-fir-ul {
    display: flex;
  }
}

@media screen and (min-width: 1920px) {
  .bike-megaul-fir-ul-zag {
    margin-left: 44.02px;
    margin-top: 59.27px;
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1920px) {
  .bike-megaul-sec-ul {
    color: #939393;
    margin-left: 488.7px;
    margin-top: 28.13px;
    font-size: 23.47px;
    font-family: DM Sans;
    font-weight: Regular;
    line-height: 38.1px;
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-circle-second-lap {
    border-radius: 100%;
    background-color: #dd2242;
    height: 58.69px;
    width: 58.69px;
    text-align: center;
    font-family: DM Sans;
    color: white;
    font-size: 26.41px;
    padding-top: 12px;
    margin-left: 386px;
    margin-top: 44.31px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-videoul {
    display: flex;
    margin-left: 488.7px;
    margin-top: 93.9px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-videoul-sec-li {
    padding-left: 45.88px;
  }
}

@media screen and (min-width: 1920px) {
  .bike-videoul-sec-li-zag {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1920px) {
  .bike-videoul-sec-li-ps {
    color: #939393;
    padding-top: 12.1px;

    font-size: 21px;
  }
}

@media screen and (min-width: 1920px) {

    .bike-thi-ul{

display: flex;
    }
}

@media screen and (min-width: 1920px) {

    .pablo{
padding-left: 44.02px;
margin-top: 102.99px;
font-size: 25px;
font-weight: bold
;
    }
}


@media screen and (min-width: 1920px) {

    .bike-thi-ps{
color: #939393;
font-size: 23.47px;
font-family: DM Sans;
line-height: 38.1px;
        margin-left: 488.7px;
        margin-top: 28.13px;
    }

}

@media screen and (min-width: 1920px) {
    .ab{
    
    margin-left: 488.7px;
    }

}