@media screen and (max-width: 375px) {
  .bike-p-first {
    color: black;
    font-family: Roboto;
    text-align: center;
    padding-top: 26px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-second {
    color: #b1adad;
    font-family: Roboto;
    text-align: center;
    padding-top: 5px;
  }
}
@media screen and (max-width: 375px) {
  .bike-p-third {
    color: #dd2242;
    font-family: Roboto;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .bike-ps-first {
    margin-top: 40px;
  }
}
