@media screen and (max-width: 375px) {
  .bike {
    background-color: #dce8f2;
  }
}

@media screen and (max-width: 375px) {
  .bike-zag {
    color: black;
    font-family: Roboto;
    padding-top: 29px;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .bike-video {
    margin-left: 30px;
    margin-top: 32px;
  }

  
}


@media screen and (max-width: 375px) {

    .bike-invisible {
        height: 100px;
      }
}


@media screen and (min-width: 1920px) {
  .bike-lap {
    background-color: #dce8f2;
    height: 1380px;
  }
}

// @media screen and (min-width: 1920px) {
//     .bike-invisible-lap{

// height: 65px;

//     }

// }