@media screen and (max-width: 375px) {
  .footer-maga-ul {
    text-align: center;
    color: white;
    font-family: DM Sans;
  }
}

@media screen and (min-width: 1920px) {
    .footer-ul-fir-lap{

display: flex;
color: white;
font-size: 18px;
font-weight: bold;
letter-spacing: 0.5px;
line-height: 28px;
padding-bottom: 150px;
    }


}
@media screen and (min-width: 1920px) {
    .footer-ul-fir-lap-a{

margin-left: 354px;
}
}
@media screen and (min-width: 1920px) {
    .footer-ul-fir-lap-b{

padding-left: 36px;
}
}
@media screen and (min-width: 1920px) {
    .footer-ul-fir-lap-c{

margin-left: 38px;
}
}
@media screen and (min-width: 1920px) {
    .footer-ul-fir-lap-d{

margin-left: 35px;
}
}

@media screen and (min-width: 1920px) {

.footer-ul-sec-lap{

display: flex;
}
}