@media screen and (max-width: 375px) {
  .footer {
    background-color: #010a20;
  }
}

@media screen and (min-width: 1920px) {

    .footer-lap{
height: 136px;
background-color: rgb(2, 2, 26);


    }
}

