@media screen and (max-width: 375px) {
  .ramochka-zag {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    margin-top: 72px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .ramochka-first-ps {
    color: #939393;
    text-align: center;
    margin-top: 57px;
    font-family: Roboto;
  }
}
