@media screen and (max-width: 375px) {
  .gallery-img-first {
    // padding-top: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 375px) {
  .gallery-img-first-second-img {
    padding-top: 12px;
  }
}

@media screen and (max-width: 375px) {
  .gallery-img-second {
    // padding-top: 30px;
    padding-left: 13px;
  }
}
