@media screen and (max-width: 375px) {
  .gallery-p {
    color: black;
    text-align: center;
    font-family: Roboto;
    padding-top: 32px;
  }
}

@media screen and (max-width: 375px) {
  .gallery-invisible {
    height: 40px;
  }
}
