@media screen and (max-width: 375px) {
  .ad-first-img {
    padding-top: 40px;
    margin-left: 30px;
    width: 314px;
    height: 232px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 375px) {
  .ad-second-img {
    padding-top: 40px;
    margin-left: 30px;
    width: 314px;
    height: 232px;
    border-radius: 10px;
  }
}
