@media screen and (max-width: 375px) {
  .ad {
    height: 1253px;
  }
}

@media screen and (max-width: 375px) {
  .ad-invisible {
    height: 40px;
  }
}
// @media screen and (min-width: 1920px) {
//   .ad-lap {
//     background-image: url(../../../../png/background-sec-lap.png);
//     background-color: rgba(3, 3, 34, 0.9);
//     width: 1920px;
//     height: 771px;
//     position: absolute;
//     top: 1080px;
//   }
// }

// @media screen and (min-width: 1920px) {
//   .ad-sec-background-lap {
//     background-image: url(../../../../png/background-third-lap.png);
//     background-color: rgba(3, 3, 34, 0.9);
//     height: 871px;
//   }
// }

@media screen and (min-width: 1920px) {
  .ad-lap- {
    height: 1624px;
    background-color: rgb(3, 3, 34);
    margin-top: -45px;
  }
}
