@media screen and (max-width: 375px) {
  .start-button {
    background-color: #dd2242;

    width: 315px;
    height: 59px;
    border-style: none;
    position: absolute;
    top: 308px;
    align-items: center;
    left: 30px;
    border-radius: 108px;
  }
}
@media screen and (max-width: 375px) {
  .start-button-p {
    color: white;
    font-family: DM Sans;

    font-size: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .start-button-lap {
    background-color: #dd2242;

    width: 271px;
    height: 82px;
    border-style: none;
    position: absolute;
    top: 547px;
    align-items: center;
    left: 277px;
    border-radius: 211px;
  }
}

@media screen and (min-width: 1920px) {
  .start-button-p-lap {
    color: white;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
}
