@media screen and (max-width: 375px) {
  .zag-start {
    color: #ffffff;
    font-weight: bold;
    line-height: 63px;
    font-size: 58px;
    font-family: Roboto;
    position: absolute;
    left: 30px;
    top: 153px;
  }
}

@media screen and (min-width: 1920px) {
  .zag-start-lap {
    color: #ffffff;
    font-weight: bold;
    line-height: 130px;
    font-size: 130px;
    font-family: Roboto;
    position: absolute;
    left: 277px;
    top: 266px;
  }
}
