@media screen and (max-width: 375px) {
  .header {
    position: absolute;
    top: 48px;
  }
}
@media screen and (min-width: 1920px) {
  .header-lap {
    display: flex;
    position: absolute;
  }
}
