@media screen and (min-width: 1920px) {
  .header-icon-lap {
    margin-left: 28px;
    width: 185px;
    height: 69px;
  }
}

@media screen and (min-width: 1920px) {
  .nav-3-sticks {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .nav-search {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .header-nav-lap-sec-svgs {
    height: 24px;
    width: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .header-nav-lap-sec-svgs- {
    margin-left: 40px;
    height: 24px;
    width: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .header-icon-lap {
    margin-top: 28px;
  }
}

@media screen and (max-width: 375px) {

.header-icon{
width: 148.82px;
height: 63.23px;
}
}