@media screen and (max-width: 375px) {
  .header-icon {
    width: 160px;
    height: 59px;
  }
}
@media screen and (max-width: 375px) {
  .nav-search {
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width: 375px) {
  .nav-3-sticks {
    width: 18px;
    height: 12px;
    margin-left: 31px;
  }
}
